body {
  background-color: #c3cfe2;
}

.card {
  background-color: #fff;
  box-shadow: 0 5px 5px grey;
  position: relative;
  font-family: Helvetica, sans-serif;
  flex-direction: column;
  border-radius: 20px;
  width: 450px;
  text-align: center;
  padding: 0;

  &__text {
    color: grey;
    font-size: 1.4em;
    line-height: 1.5em;
    text-align: left;
    padding: 20px 40px 100px;
  }

  &__image {
    img {
      position: absolute;
      left: 32%;
      bottom: 19%;
      border: 6px solid white;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__name {
    background-color: #686de0;
    color: white;
    padding: 70px 0 20px;
    border-radius: 0 0 20px 20px;
    h1 {
      font-size: 1.6em;
      margin-bottom: 10px;
    }

    h2 {
      color: #c3cfe2;
      font-size: 1.3em;
      font-weight: lighter;
      margin-top: 0;
    }
  }
}
